@charset "utf-8";
/* CSS Document */
/*@font-face {
    font-family: 'Corbel';
    src: url('../fonts/corbel.eot');
    src: url('../fonts/corbel.eot?#iefix') format('embedded-opentype'),
         url('../fonts/corbel.woff') format('woff'),
         url('../fonts/corbel.ttf') format('truetype'),
         url('../fonts/corbel.svg#corbel') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ContextRepriseLightSSi';
    src: url('../fonts/ContextRepriseLightSSi.eot');
    src: url('../fonts/ContextRepriseLightSSi.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/ContextRepriseLightSSi.woff') format('woff'), 
         url('../fonts/ContextRepriseLightSSi.ttf') format('truetype'), 
         url('../fonts/ContextRepriseLightSSi.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
*{
	margin:0px;
	padding:0px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	background: none repeat scroll 0% 0% transparent;	
	text-align:left;
}
body{
	background:url(../img/bg/bg.gif);
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

a{
	text-decoration:none;
	color:#fff;
}

a img{
	border:none;
}
ul {
	list-style-type: none;
}

p{
	text-align:justify;
	
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    display: inline-block;
}
#sectionWrapper{
	width:100%;
	height:auto;
	position:relative;
}
#sectionWrapper #sectionHeaderWrapper{
	width:100%;
	height:150px;
	background:url(../img/bg/header.png) repeat-x;
	position:relative;
	z-index:999;
}
#sectionWrapper #sectionHeaderWrapper header{
	width:1000px;
	height:137px;
	margin:0 auto;
	background:url(../img/bg/header1.gif) bottom right no-repeat;
	position:relative;
}
#sectionWrapper #sectionHeaderWrapper header #contact{
	width:320px;
	height:30px;
	position:absolute;
	left:0;
	top:0;
}
#sectionWrapper #sectionHeaderWrapper header #headContact p{
	font-size:12px;
	color:#fff;
	height:21px;
	padding:9px 0 0 19px;
	background:url(../img/ico/phone.png) no-repeat left center;
}
#sectionWrapper #sectionHeaderWrapper header #headSocial{
	width:120px;
	height:25px;
	position:absolute;
	padding:5px 0 0 0;
	right:0;
	top:0;
}
#sectionWrapper #sectionHeaderWrapper header #headSocial ul{
	list-style:none;
	height:20px;
}
#sectionWrapper #sectionHeaderWrapper header #headSocial ul li{
	display:inline;
	width:20px;
	height:20px;
	margin:0 0 0 5px;
}
#sectionWrapper #sectionHeaderWrapper header #headSocial ul li a{
	display:inline-block;
}
#sectionWrapper #sectionHeaderWrapper header #headSocial ul li.facebook{
	background:url(../img/ico/f.png) 0 0 no-repeat
}
#sectionWrapper #sectionHeaderWrapper header #logo{
	width:165px;
	height:160px;
	position:absolute;
	top:30px;
	left:0px;
	background:url(../img/bg/logo.png) no-repeat;
}
#sectionWrapper #sectionHeaderWrapper header #logo img{
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#sectionWrapper #sectionHeaderWrapper header #logo img:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#sectionWrapper #sectionHeaderWrapper header nav{
	position:absolute;
	width:835px;
	height:20px;
	right:0;
	bottom:5px;
}
#sectionWrapper #sectionHeaderWrapper header nav ul{
	list-style:none;
	text-align:right;
}
#sectionWrapper #sectionHeaderWrapper header nav ul li{
	display:inline;	
}
#sectionWrapper #sectionHeaderWrapper header nav ul li.line{
	padding:0 15px;
}
#sectionWrapper #sectionHeaderWrapper header nav ul li a{
	color:#460076;
	font-size:14px;
	display:inline-block;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
#sectionWrapper #sectionHeaderWrapper header nav ul li a:hover{
	color:#d9b726;
}
#sectionWrapper #sectionSliderWrapper{
	width:100%;
	height:400px;
	background:#fff;
	position:relative;
	top:-13px;
}
#sectionWrapper #sectionSliderWrapper #slider{
	width:1200px;
	height:400px;
	position:relative;
	margin:0 auto;
}
#sectionWrapper #sectionSliderWrapper #slider .imgSlider{
	width:1200px;
	height:400px;
}
#sectionWrapper #sectionSliderWrapper #slider .masked{
	width:340px;
	height:400px;
	position:absolute;
	z-index:5;
}
#sectionWrapper #sectionSliderWrapper #slider .mask-left{
	background:url(../../img/slide/slide-mask-left.png) no-repeat;
	left:0;
}
#sectionWrapper #sectionSliderWrapper #slider .mask-right{
	background:url(../../img/slide/slide-mask-right.png) no-repeat;
	right:0;
}
#sectionWrapper #sectionSliderWrapper #slider .control{
	width:50px;
	height:50px;
	position:absolute;
	z-index:6;
	top:50%;
	margin:-25px 0 0 0;
	cursor:pointer;
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
#sectionWrapper #sectionSliderWrapper #slider .pre{
	left:100px;
}
#sectionWrapper #sectionSliderWrapper #slider .next{
	right:100px;
}
#sectionWrapper #sectionSliderWrapper #slider:hover .control{
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;	
}
#sectionWrapper #sectionCompanyInfoWrapper{
	width:100%;
	height:45px;
	background:url(../img/bg/companyInfo.png) repeat-x;
	margin-top:-13px;
	position:relative;
}
#sectionWrapper #sectionCompanyInfoWrapper #info{
	width:1000px;
	height:40px;
	margin:0 auto;
	position:relative;
}
#sectionWrapper #sectionCompanyInfoWrapper #info marquee{
	width:1000px;
	height:40px;
}
#sectionWrapper #sectionCompanyInfoWrapper #info marquee p{
	font-size:14px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	padding:11px 0;
	
}
#sectionWrapper #sectionCompanyInfoWrapper #info #mask{
	position:absolute;
	z-index:2;
	width:1000px;
	height:40px;
}
#sectionWrapper #sectionCompanyInfoWrapper #info #mask #left{
	float:left;
	width:70px;
	height:40px;
	background:url(../../img/info-mask-left.png) no-repeat;
}
#sectionWrapper #sectionCompanyInfoWrapper #info #mask #right{
	float:right;
	width:70px;
	height:40px;
	background:url(../../img/info-mask-right.png) no-repeat;
}

#sectionWrapper #sectionContentWrapper{
	width:1000px;
	height:auto;
	margin:0 auto;
	padding:35px 0 0 0;	
}
#sectionWrapper #sectionContentWrapper #sectionReservation{
	width:1000px;
	height:380px;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation{
	float:left;
	width:300px;
	height:380px;
	background:#fff;
	position:relative;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation .reservation-menu{
	width:300px;
	height:50px;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation ul li{
	float:left;
	position:relative;
	width:100px;
	height:50px;
	margin:0;
	cursor:pointer;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation ul li img{
	position:absolute;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation ul li img.fadechange{
	position:absolute;
	z-index:2;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation ul li img.curren{
	display:none;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation .flight-reservation,.car-reservation,.hotel-reservation{
	width:260px;
	height:290px;
	padding:20px;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation .car-reservation,.hotel-reservation{
	display:none;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation .flight-reservation,.car-reservation,.hotel-reservation form table{
	border:0;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation .flight-reservation,.car-reservation,.hotel-reservation form table td{
	border-collapse:collapse;
	width:260px;
	height:50px;
	vertical-align:top;
}
#sectionWrapper #sectionContentWrapper #sectionReservation .reservation .flight-reservation,.car-reservation,.hotel-reservation form table td p{
	font-weight:bold;
}
input[type="submit"]{
	width:260px;
	height:37px;
	background:#dbb926;
	border:none;
	border-bottom:3px solid #b69400;
	text-align:center;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
input[type="submit"]:hover{
	filter: alpha(opacity=5);
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.lcDatePicker{
	width:220px;
	height:20px;
	background:url(../img/ico/form/calender.gif) no-repeat;
	background-position:225px center;
	border:1px solid #333;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px 20px;
	color:#333;
	margin:0 0 10px 0;
}
.ui-datepicker{
	padding:0px;
}
.ui-widget-content{
	background:none;
}
.ui-datepicker .ui-datepicker-header{
	border:0px;
}
.ui-datepicker table{
	margin:0px;
	background:#fff;
}
.ui-datepicker td{
	padding:10px;
	text-align:center;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-radius:0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-bl{
	border-radius:0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-tr{
	border-radius:0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-tl{
	border-radius:0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border:0px;
	background:none;
}
.ui-datepicker td span, .ui-datepicker td a{
	padding:0px;
}
.ui-datepicker td span, .ui-datepicker td a:hover{
	color:#460076;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	color:#666;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	color:#460076;
}
.ui-datepicker .ui-datepicker-header{
	padding:10px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	top:10px;
}
.ui-datepicker-pre-hover{
	background:none;
	border:none;
}

select {
	padding:10px 20px 10px 20px;
	margin: 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background: #fff;
	color:#333;
	border:solid 1px #333;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	width:260px;
	height:40px;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none;  /*Removes default style Firefox*/
	background:url(../img/ico/form/arrow.gif) no-repeat;
	background-position: 226px center;
	text-indent: 0.01px;
	text-overflow: "";
	margin:0 0 10px 0;
}
select option{
	padding:10px 20px 10px 20px;
}
select.width70{
	padding:10px;
	width:75px;
	background-position: 45px center;
}
select.width70 option{
	padding:5px 10px;
}
#specialPackSlider{
	width:700px;
	height:380px;
	float:left;
	position:relative;
	background:#fff;
}
#specialPackSlider .control{
	width:12px;
	height:28px;
	position:absolute;
	z-index:6;
	top:50%;
	margin:-14px 0 0 0;
	cursor:pointer;
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
#specialPackSlider .pre1{
	left:20px;
}
#specialPackSlider .next1{
	right:20px;
}
#specialPackSlider:hover .control{
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;	
}
.slider_title{
	position:absolute;
	z-index:3;
	width:680px;
	height:65px;
	bottom:0px;
	padding:15px 0 0 20px;
	background:url(../../img/specailPackage/title-bg.png);
}
.slider_title .title{
	font-size:22px;
	color:#dbb926
}
.slider_title .description{
	font-size:12px;
	color:#fff;
	margin:10px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome{
	width:1000px;
	height:auto;
	margin:40px 0 0 0;	
	
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming{
	width:300px;
	height:auto;
	float:left;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming h2{
	font-size:30px;
	color:#333333;
	text-transform:uppercase;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming{
	width:300px;
	height:auto;
	margin:30px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming .date-issue{
	width:70px;
	height:65px;
	padding:15px 0 0 0;
	float:left;
	background:#460076;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming .date-issue p{
	color:#fff;
	text-align:center;
	font-size:36px;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming .date-issue p.month{
	font-size:16px;
	text-transform:uppercase;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming .info-issue{
	width:210px;
	height:auto;
	float:right;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming .info-issue header p{
	font-size:24px;
	color:#333;
	text-transform:uppercase;
	margin:0;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming .info-issue header p.detail{
	font-size:14px;
	color:#dbb926;
	text-transform:none;
	margin:3px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #upcoming .article-upcoming .info-issue p{
	font-size:12px;
	line-height:22px;
	color:#333;
	letter-spacing:0;
	margin:15px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #getting-welcome{
	width:650px;
	height:auto;
	float:right;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #getting-welcome header h2{
	font-size:30px;
	color:#460076;
	text-transform:uppercase;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #getting-welcome header h2 span{
	color:#dbb926;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #getting-welcome p{
	font-size:14px;
	line-height:24px;
	text-align:justify;
	margin:30px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #getting-welcome p span{
	padding:0 0 0 30px;
}
#sectionWrapper #sectionContentWrapper #sectionWelcome #getting-welcome figure{
	margin:30px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionService {
	width:1000px;
	height:auto;
	margin:60px auto 0 auto;
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service{
	width:300px;
	height:auto;
	float:left;
	margin:0 50px 0 0;	
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service header{
	height:60px;
	width:300px;
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service:last-child{
	margin:0px;
}

#sectionWrapper #sectionContentWrapper #sectionService  .article-service header p{
	text-align:left;
	font-size:24px;
	color:#333;
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service header p.service-icon{
	float:left;
	height:60px;
	width:60px;
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service header p.service-title{
	float:right;
	width:220px;
	height:53px;
	padding:7px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service header p.service-title a{
	color:#333;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service header p.service-title a:hover{
	color:#999;	
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service p.text-service{
	font-size:12px;
	color:#333;
	line-height:22px;
	margin:10px 0 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service p.text-service span a{
	color:#460076
}
#sectionWrapper #sectionContentWrapper #sectionService  .article-service p.text-service span a:hover{
	color:#999;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer{
	width:1000px;
	height:auto;
	margin:60px auto 0 auto;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer header{
	padding:0 0 20px 0;
	border-bottom:1px solid #cccccc;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer header h3{
	font-size:36px;
	text-transform:uppercase;
	color:#333;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer .article-SpecialOffer{
	width:300px;
	height:auto;
	float:left;
	margin:30px 50px 0 0;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer .article-SpecialOffer:last-child{
	margin-right:0px;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer .article-SpecialOffer figure{
	width:300px;
	height:200px;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer .article-SpecialOffer .text-SpecialOffer{
	width:200px;
	height:50px;
	float:left;
	background:#333333;
	color:#fff;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer .article-SpecialOffer .price-SpecialOffer{
	width:100px;
	height:50px;
	float:left;
	background:#460076;
	color:#dbb926;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer .article-SpecialOffer .text-SpecialOffer p{
	text-transform:uppercase;
	font-size:18px;
	text-align:left;
	padding:15px 0 0 15px;
}
#sectionWrapper #sectionContentWrapper #sectionSpecialOffer .article-SpecialOffer .price-SpecialOffer p{
	font-size:18px;
	text-align:center;
	padding:15px 0 0 0px;
}
#sectionWrapper #footerWrapper{
	width:100%;
	height:auto;
	background:#460076;
	border-top:10px solid #2c004a;
	margin:90px 0 0 0;
	padding:0 0 60px 0;
}
#sectionWrapper #footerWrapper footer{
	width:1000px;
	height:auto;
	margin:0 auto;
	margin-top:50px;
}
#sectionWrapper #footerWrapper footer #footer-info{
	width:1000px;
	height:auto;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info{
	width:349px;
	height:auto;
	float:left;
	border-right:1px solid #37005c;
	padding:0 50px 0 0;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info header{
	width:349px;
	height:auto;
	border-bottom:2px solid #fff;
	padding:0 0 3px 0;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info header h3{
	font-size:24px;
	color:#fff;
	text-transform:uppercase;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info p.text-contact{
	font-size:12px;
	line-height:24px;
	color:#fff;
	margin-top:20px;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info ul.footer-social{
	list-style:none;
	margin:40px 0 0 0;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info ul li{
	float:left;
	width:35px;
	height:34px;
	margin:0 10px 0 0;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info ul li a{
	display:block;
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}
#sectionWrapper #footerWrapper footer #footer-info #contact-info ul li a:hover{
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#sectionWrapper #footerWrapper footer #footer-info #company-info{
	width:550px;
	height:auto;
	float:right;
	padding:0 0 0 50p;
}
#sectionWrapper #footerWrapper footer #footer-info #company-info header{
	width:550px;
	height:auto;
	border-bottom:2px solid #fff;
	padding:0 0 3px 0;
}
#sectionWrapper #footerWrapper footer #footer-info #company-info header h3{
	font-size:24px;
	color:#fff;
	text-transform:uppercase;
}
#sectionWrapper #footerWrapper footer #footer-info #company-info p.text-company-info{
	font-size:12px;
	line-height:24px;
	color:#fff;
	margin-top:20px;
	text-align:justify;
}
#sectionWrapper #footerWrapper footer nav{
	width:835px;
	height:20px;
	margin:0 auto;
	margin-top:90px;
}
#sectionWrapper #footerWrapper footer nav ul{
	list-style:none;
	text-align:right;
}
#sectionWrapper #footerWrapper footer nav ul li{
	display:inline;	
	color:#fff;
}
#sectionWrapper #footerWrapper footer nav ul li.line{
	padding:0 15px;
}
#sectionWrapper #footerWrapper footer nav ul li a{
	color:#fff;
	font-size:14px;
	display:inline-block;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
#sectionWrapper #footerWrapper footer nav ul li a:hover{
	color:#d9b726;
}
#sectionWrapper #footerWrapper footer #copyright{
	margin-top:10px;
}
#sectionWrapper #footerWrapper footer #copyright p{
	text-align:center;
	font-size:12px;
	color:#fff;
}
#sectionWrapper #footerWrapper footer #copyright p a{
	color:#dbb926;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
#sectionWrapper #footerWrapper footer #copyright p a:hover{
	color:#fff;
}