@charset "utf-8";
/* CSS Document */
.local_tour-section{
	background:#fff;
	margin-left:350px;
	height:auto;
	width:670px;
}
.head {
	font-size:18px;
    text-align:center;
    padding-left:20px;
	padding-top:15px;
    color:#fff;
    background-color:#460076;
	height:35px;
}
.local-tour-para {
	padding:25px;
	text-align:justify;
}
.p1 {
	font-size:12px;
	color:#460076;
	line-height:20px;
}
p {
	font-size:12px;
	line-height:20px;
}
.local-tour-img {
	width:670px;
}
img {
	float:left;
	padding-left:25px;
	margin-bottom:25px;
}
.sp {
	font-size:18px;
	color:#dbb926;
}
.clear {
	clear:both;
}


