@charset "utf-8";
/* CSS Document */
.local_tour-section{
	background:#fff;
	margin-left:330px;
	padding:20px;
	height:175px;
}
.head {
	font-size:18px;
	color:#460076;
	padding-bottom:15px;
}
.sp {
	font-size:18px;
	color:#dbb926;
}
.local-tour-section-right{
	width:395px;
	float:right;
}

.local-tour-section-left{
	float:left;
}
.local-tour-section-right p{
	color:#333333;
	font-size:12px;
	line-height:20px;
	position:relative;
	top:-4px;
}

.clear{
	clear:both;	
}
div .btn-more{
	margin-top:30px;
	width:78px;
	height:30px;	
}
.mar-top{
	margin-top:30px;	
}


