@charset "utf-8";
/* CSS Document */
.services-section{
	background:#fff;
	margin-left:330px;
	padding:10px;
	height:190px;
}
.services-section .services-section-left{
	width:380px;
	float:left;
}
.services-section .services-section-left header h3{
	font-size:18px;
	color:#460076;
	padding-bottom:15px;
}
.services-section .services-section-left header p{
	color:#333333;
	font-size:12px;
	line-height:20px;	
}
.services-section .services-section-right{
	float:right;
}

.clear{
	clear:both;	
}
div .btn-more{
	margin-top:47px;
	width:78px;
	height:30px;	
}
.mar-top{
	margin-top:27px;	
}